@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  font-family: 'Inter', 'Be Vietnam Pro', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}